.no-decoration {
    text-decoration: none;
    color: black;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.exercise-card {
    height: 150px;
    display: flex;
}

.exercise-card img {
    height: 150px;
    width: 150px;
}

